<div class="jumbotron center">
	<h1>Welcome to our Site!</h1>
	<p>
		<%= link_to "Log in", "http://www.handsonri.com", class: "btn btn-primary btn-lg" %>
		<%= link_to "Sign up", "http://www.handsonri.com", class: "btn btn-primary btn-lg" %>
	</p>
</div>